.paragraph {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  width: 50%;
}

.button {
  border-radius: 1.4rem;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.6rem 2.5rem;
  margin-top: 1rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  transition: 80ms ease-in;
}
.button:active {
  transform: scale(0.95);
}
.button:focus {
  outline: none;
}

.anchor {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  cursor: pointer;
}
.anchor:hover {
  text-decoration: underline;
  transition: 0.2s ease-in-out;
  color: #ff4b2b;
}

.input {
  background-color: #eee;
  height: 10%;
  border: none;
  padding: 1rem 1.2rem;
  margin: 0.8rem;
  width: 100%;
}

.title {
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  color: black;
}

.titleOverlay.title {
  color: #ffffff;
}

.ghostButton.button {
  border: 1px solid #ffffff !important;
  background-color: transparent !important;
}

.roomTitle.title{
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0.7rem;
  font-size: 1.5rem;
  line-height: 2.3rem;
  text-decoration: underline!important;
  font-family: "Fira Sans", sans-serif;
  border-top: 2px solid #ff4b2b!important;
}

.notFound.title{
  color: #ff4b2b;
}

.playerTitle.title{
  text-transform: uppercase!important;
  font-family: "Fira Sans", sans-serif;
}

.result.title{
  width: 100%;
  background-color: #555;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  color: #ffffff;
}

.profileTitle.title{
  font-family: "Fira Sans", sans-serif;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 400;
  text-align: center;
  line-height: 1.7rem;
  letter-spacing: 0.03rem;
  padding: 0!important;
  margin: 0!important;
}

.playerChoice.title{
  margin-bottom: 1rem;
  font-size: 1.7rem;
  text-decoration: underline!important;
  line-height: 2.2rem!important;
  letter-spacing: 0.07rem!important;
}

.updateBiodata.button{
  margin-top: 0.3rem;
  width: 59%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled.button{
  pointer-events: none!important;
}