.overlayContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    align-items: center;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    z-index: 100;
  }
  
  .ovelayContainerOnClik.overlayContainer {
    transform: translateX(-100%);
  }
  
  .overlay {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    padding: 0 2rem;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlayOnclick.overlay {
    transform: translateX(20%);
  }

  .left-container {
    margin-top: 4.5rem;
    border-radius: 1.5rem;
    width: 55%;
    height: 80%;
    background-color: #ffffff;
    box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    margin-right: 0.5rem;
  }

  .pvcGame {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30%;
  }
  
  .playVCom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 30%;
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
    background-color: #ff4b2b;
  }
  
  .btnVCom {
    line-height: 0.8rem;
    font-size: 1.2rem;
    letter-spacing: 0.12rem;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .roomContainer {
    width: 100%;
    height: 60%;
    padding: 0.8rem;
  }
  
  .dataCourier{
    width: 30%!important;
    height: 20%!important;
    background-color: #302e2e;
    margin-top: 0.5rem!important;
    margin-right: 0.3rem;
    display: flex;
    padding: 0.7rem;
    justify-content: start;
    align-items: center;
    margin-left: 0.3rem;
    border-radius: 0.5rem;
  }
  
  .dataCourier:hover{
    background-color: #ff4b2b;
  }
  
  .courierText{
    color: #ffffff;
    font-weight: 400;
  }
  
  .courierText:hover{
    color: #000000;
  }

  .right-container {
    margin-top: 4.5rem !important;
    border-radius: 1.5rem;
    width: 35%;
    height: 80%;
    background-color: #ffffff;
    box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    margin-left: 0.5rem;
    display: flex !important;
    align-items: center !important;
    position: relative !important;
    overflow: hidden !important;
    flex-direction: column;
  }

  .lower-right-container-input {
    width: 100% !important;
    height: 50% !important;
    transition: all 0.6s ease-in-out;
    z-index: 0;
    transform: translateY(-93%);
  }
  
  .notUpdated.lower-right-container-input {
    z-index: 1;
    transform: translateX(150%);
    opacity: 0;
  }
  
  .commandInput {
    height: 5%!important;
    margin-top: 0!important;
    border-top: 2px solid #ff4b2b !important;
  }
  
  .formBiodata.form {
    justify-content: start;
    align-items: flex-start;
    margin-top: 0 !important;
    padding-left: 1rem!important;
  }

  .inputData{
  background-color: #eee;
  height: 12%;
  border: none;
  padding: 0.3rem 1.2rem;
  margin: 0.8rem;
  width: 75%;
  }

  .updateBiodata{
    height: 5vh!important;
  }

  .laberInput{
    margin-top: 0.2rem!important;
    line-height: 0!important;
    margin-left: 0!important;
    width: 50%!important;
  }
  
  .inputBiodata.input{
    border-radius: 0.3rem !important;
  }

  .lower-right-container {
    width: 100%;
    height: 50%;
    border-top: 2px solid #ff4b2b !important;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-left: 5.5rem;
    margin-top: 0.5rem;
    padding-top: 1.3rem;
    transform: translateX(150%);
    left: 0;
    z-index: 1;
  }
  
  .updatedContainer.lower-right-container {
    opacity: 1;
    z-index: 2;
    transform: translateX(0);
  }
  
  .biodata {
    font-size: 1.2rem;
    text-transform: capitalize !important;
    margin-top: 1rem;
    font-weight: 500;
  }
  
  .upper-right-container {
    width: 100% !important;
    height: 30% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .gameHistoryText {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .gameHistoryText:hover {
    color: #ff4b2b !important;
  }
  
  .top-upper-right-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .rounded-circle {
    width: 20% !important;
    height: 60% !important;
  }
  
  .fa-pencil {
    width: 40%;
    color: #000000;
    height: 100%!important;
  }
  
  .editIcons {
    background-color: #b0b3b6;
    width: 10%;
    border-radius: 1rem;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
    margin-left: 8rem;
  }
  
  .editIcons.fa-pencil:hover {
    background-color: #ff4b2b;
    color: #ffffff;
  }
  