.overlayPanel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: 0.6s ease-in-out;
}
.leftOvelayPanel.overlayPanel {
  transform: translateX(200%);
}

.leftOvelayPanelOnClick.overlayPanel {
  transform: translateX(50%);
}

.rightOverlayPanel.overlayPanel {
  transform: translateX(90%);
}

.rightOverlayPanelOnClick.overlayPanel {
  transform: translateX(-100%);
}

