* {
  box-sizing: border-box !important;
  outline: none !important;
  border: none !important;
  text-decoration: none !important;
  font-family: "Fira Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.bigContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgb(255, 232, 222) !important;
  border-radius: 0.7rem !important;
  box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  position: relative !important;
  overflow: hidden !important;
  width: 45em !important;
  margin-top: 4rem !important;
  max-width: 100% !important;
  min-height: 25.5em !important;
}

.navbar-nav {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row !important;
  align-items: center !important;
  width: 100% !important;
  height: 10% !important;
  padding-left: 1rem !important;
  background: #ff416c !important;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c) !important;
  background: linear-gradient(to right, #ff4b2b, #ff416c) !important;
  border-top: 3px solid #ffffff !important;
  border-bottom: 1px solid #403f3f80 !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 9999 !important;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  min-height: 100%;
  width: 30%;
  color: #ffffff;
  letter-spacing: 10%;
  font-family: "Open Sans";
  font-weight: 700;
}

.navbar-logo:hover {
  color: #121111;
  border-radius: 1rem;
  transition: 0.1s ease-in;
}

.icons-logo {
  width: 14%;
  border-radius: 2rem;
}

.logo-text {
  margin-left: 1rem;
}

.navbar-register {
  width: 30%;
  display: flex;
  justify-content: center;
}

.form-link {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  width: 30%;
  letter-spacing: 0.02rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.form-link:hover {
  background-color: #f2f7fbd5;
  color: #121111;
  transition: 0.1s ease-in;
  border-radius: 1rem;
  border: 1px solid #b0b3b6;
  transform: translateY(2%);
}

.home-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.footer {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.8rem;
  background: #ff416c !important;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c) !important;
  background: linear-gradient(to right, #ff4b2b, #ff416c) !important;
}

.footer-link:hover {
  color: #121111 !important;
  transition: 0.1s ease-in;
  border: 1px solid #b0b3b6;
  transform: translateY(2%);
}

.playerVsComContainer{
  width: 70%!important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.playerChoiceContainer{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.resultContainer{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choices{
  width: 31%;
  height: 25%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comChoices{
  width: 31%;
  height: 25%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.choiced{
  width: 31%;
  height: 25%;
  margin-top: 2rem;
  background-color: #888;
  border-radius: 2rem;
  transition: 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.player1.choices:hover{
  background-color: #ff4b2b;
  border-radius: 2rem;
  transition: 0.1s ease-in-out;
  transform: translateY(-10%);
}

.rock{
  width: 70%;
  height: 65%;
}

.paper{
  width: 70%;
  height: 80%;
}

.scissors{
  width: 70%;
  height: 90%;
}

.refreshGame{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refreshButton:hover{
  transition: 100ms ease-in-out; 
  transform: translateY(-10%);
  cursor: pointer;
}

.refreshButton{
  width: 23%;
  height: 35%;
}

.resultGame{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.resultText{
  width: 100%;
  background-color: #ff4b2b;
  height: 50%;
  font-size: 1rem!important;
}

.choiceCreateRoom.playerChoiceContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

.createRoom.playerVsComContainer{
  flex-direction: column;
}

.choiceContainer{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0!important;
}

.rockRoom{
  width: 28%;
  height: 100%;
}

.paperRoom{
  width: 26%;
  height: 100%;
}

.scissorsRoom{
  width: 26%;
  height: 100%;
}

.player.player1.choices{
  width: 23%;
  height: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.player.player1.choices:hover{
  border-radius: 0.6rem;
}

.inputCreateRoom.playerChoiceContainer{
  height: 40%!important;
  padding: 0;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.underlineRoom{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 3px solid #ff4b2b!important;
  width: 80%;
}

.roomChoice.choiced{
  width: 23%;
  height: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.6rem;
}

.tableContainer.container{
  width: 70%!important;
  height: 100%!important;
  padding: 1rem!important;
  background-color: #ffffff!important;
}

body {
  background-color: #bdc3c7;
}
.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.table-fixed tbody {
  height: 320px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
}
.table-fixed thead tr th {
  float: left;
  background-color: #ff4b2b;
  border-color: #ff416c;
}
