.registration {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.registrationOnClick.registration {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.login {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  left: 0;
  width: 50%;
  z-index: 2;
}

.loginOnClick.login {
  transform: translateX(100%);
}

.form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 4em;
  height: 100%;
  text-align: center;
}

.errorsMessage{
  line-height: 0!important;
  margin-top: 0!important;
  margin-bottom: 0!important;
  font-size: 0.8rem!important;
  font-weight: 300;
  color: red;
  text-transform: lowercase;
  text-align: start!important;
}